[submodule "external/i3ipc-python"]
	path = external/i3ipc-python
	url = https://github.com/acrisci/i3ipc-python
[submodule "external/vertex-theme"]
	path = external/vertex-theme
	url = https://github.com/oberon-manjaro/vertex-theme
[submodule "external/numix-icon-theme"]
	path = external/numix-icon-theme
	url = https://github.com/numixproject/numix-icon-theme
[submodule "external/numix-folders"]
	path = external/numix-folders
	url = https://github.com/numixproject/numix-folders
[submodule "opt/synesthesia/synesthesia"]
	path = opt/synesthesia/synesthesia
	url = https://github.com/synesthesia-project/synesthesia
[submodule "opt/desktop/xeventbind"]
	path = opt/desktop/xeventbind
	url = https://github.com/ritave/xeventbind.git
